In [1]:
import numpy as np
import pandas as pd

In [4]:
from numpy import nan as NA

In [5]:
data = pd.Series([3 , NA , 6.7 , NA , 8.0 , NA , 7])

In [6]:
data

0    3.0
1    NaN
2    6.7
3    NaN
4    8.0
5    NaN
6    7.0
dtype: float64

In [10]:
not_null_values = data.dropna()

In [11]:
not_null_values

0    3.0
2    6.7
4    8.0
6    7.0
dtype: float64

In [15]:
data

0    3.0
1    NaN
2    6.7
3    NaN
4    8.0
5    NaN
6    7.0
dtype: float64

In [14]:
data.notnull()

0     True
1    False
2     True
3    False
4     True
5    False
6     True
dtype: bool

In [12]:
data1 = data[data.notnull()]

In [13]:
data1

0    3.0
2    6.7
4    8.0
6    7.0
dtype: float64

In [9]:
data

0    3.0
1    NaN
2    6.7
3    NaN
4    8.0
5    NaN
6    7.0
dtype: float64